/.vscode
/asm
/crash-reports
EffekseerNativeForJava.dll
/impossible_data
/local
/logs
/modernfix/structureCacheV1
/mods
/saves
/shaderpacks
/xaero
/screenshots
/resourcepacks
usercache.json
usernamecache.json
rhino.local.properties
win_event1756480989044.txt
/XaeroWaypoints_BACKUP240807
config/embeddium-fingerprint.json
config/xaeropatreon.txt
icon.png
options.txt
emi.json
*.jar
*.marker
config/xaerominimap_entities.json
config/oculus.properties
config/spark/activity.json
config/xaerominimap_entities.json
/.bobby
fancymenu_data/last_world.fmdata
patchouli_data.json
win_event1758906871806.txt
servers.dat_old
servers.dat
servers.dat
/schematics
