/.vscode
/asm
/crash-reports
EffekseerNativeForJava.dll
/impossible_data
/local
/logs
/modernfix/structureCacheV1
/mods
/saves
/shaderpacks
/xaero
/screenshots
/resourcepacks
usercache.json
usernamecache.json
rhino.local.properties
win_event1756480989044.txt
/XaeroWaypoints_BACKUP240807
